/* landing page  
____________________________________________*/
.landing-page .header-spacer--standard {
    margin-bottom: 0;
}

.header-spacer--standard {
    height: 75px;
}

.registration-login-form .content {
    padding: 15px 25px;
}

.registration-login-form {
    min-height: 615px;
}

.registration-login-form .title {
    padding: 15px 25px;
}

.label-floating .form-control, .label-floating input, .label-floating select {
    padding: 1.3rem 1.1rem .5rem;
    line-height: 1;
}

/* //modal */
.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    /* background: #FFFFFF; */
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
  }

  .modal-header,
  .modal-footer {
    padding: 15px;
    display: flex;
  }

  .modal-header {
    border-bottom: 1px solid #eeeeee;
    color: #4AAE9B;
    justify-content: space-between;
  }

  .modal-footer {
    border-top: 1px solid #eeeeee;
    justify-content: flex-end;
  }

  .modal-body {
    position: relative;
    padding: 20px 10px;
  }

  .btn-close {
    border: none;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
  }

  .btn-green {
    color: white;
    background: #4AAE9B;
    border: 1px solid #4AAE9B;
    border-radius: 2px;
  }