/* landing page  
____________________________________________*/
.landing-page .header-spacer--standard {
    margin-bottom: 0;
}

.header-spacer--standard {
    height: 75px;
}

.registration-login-form .content {
    padding: 15px 25px;
}

.registration-login-form {
    min-height: 615px;
}

.registration-login-form .title {
    padding: 15px 25px;
}

.label-floating .form-control,
.label-floating input,
.label-floating select {
    padding: 1.3rem 1.1rem .5rem;
    line-height: 1;
}

/* //modal */
.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    /* background: #FFFFFF; */
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}

.modal.buy,
.modal.auction {
    padding: 0;
    overflow-y: scroll;
}

.modal .create-auction {
    width: 600px;
}

.modal-header,
.modal-footer {
    padding: 15px;
    display: flex;
}

.modal-header {
    border-bottom: 1px solid #eeeeee;
    color: #4AAE9B;
    justify-content: space-between;
}

.modal-footer {
    border-top: 1px solid #eeeeee;
    justify-content: flex-end;
}

.modal-body {
    position: relative;
    padding: 20px 10px;
}

.btn-close {
    border: none;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
}

.btn-green {
    color: white;
    background: #4AAE9B;
    border: 1px solid #4AAE9B;
    border-radius: 2px;
}

.author-thumb img.small {
    max-width: 55px
}

.author-thumb img.smaller {
    max-width: 35px
}

.form-control {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.user-liked {
    background: #39a7fb !important;
}

.user-liked-font {
    color: #39a7fb !important;
}

/* //vue autocomplete css */
.v-autocomplete .v-autocomplete-input-group .v-autocomplete-input {
    /* font-size: 1.5em; */
    font-size: .875rem;
    padding: 10px 15px;
    box-shadow: none;
    /* border: 1px solid rgb(230, 236, 245); */
    /* width: calc(100% - 32px); */
    outline: none;
    background-color: #eee;
}

.v-autocomplete .v-autocomplete-input-group.v-autocomplete-selected .v-autocomplete-input {
    color: #7554bd;
    background-color: #f2fff2;
}

.v-autocomplete .v-autocomplete-list {
    width: 100%;
    text-align: left;
    border: none;
    border-top: none;
    max-height: 400px;
    overflow-y: auto;
    border-bottom: 1px solid rgb(230, 236, 245);
    position: relative;
    z-index: 1000;
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item {
    cursor: pointer;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid rgb(230, 236, 245);
    border-left: 1px solid rgb(230, 236, 245);
    border-right: 1px solid rgb(230, 236, 245);
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item:last-child {
    border-bottom: none;
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item:hover {
    background-color: #eee;
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item abbr {
    /* opacity: 0.8; */
    font-size: 1em;
    display: block;
    font-family: sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

/* main feed */
pre {
    color: #515365;
}

.makepost-icon {
    color: #12b886;
}

.form-group.with-icon .makepost-icon svg {
    font-size: 15px;
}

/* account dash */
.pl-36 {
    padding-left: 1.36rem !important;
}

.color-red {
    color: red;
}

.header .page-title {
    padding: 0px 50px 26px 100px;
}


/* user notifications 
______________________________________________*/

.notify {
    position: fixed;
    top: 80px;
    left: 10px;
}

.notify .notify-box {
    min-width: 320px;
    padding: 8px;
    background: #3f4257;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0px #3f4257;
    color: #d5d0d0;
    text-align: justify;
    align-items: center;
}

.notify span.notify-close {
    position: relative;
    font-size: 14px;
    cursor: pointer;
}

.notify span.notify-close:hover {
    font-size: 15px;
}
